<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table id="dg" class="easyui-datagrid" title="属性列表"
           data-options="singleSelect:true ,method:'get',toolbar:'#tb'">
        <thead>
        <tr>
            <th data-options="field:'id'" width="20%">属性id </th>
            <th data-options="field:'attrName'" width="80%">属性名</th>
        </tr>
        </thead>
    </table>

    <div id="tb" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
            <a href="javascript:addAttr();" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
            <a href="javascript:editAttr();" class="easyui-linkbutton" iconCls="icon-edit" plain="true">编辑</a>
            <a href="javascript:deleteAttr();" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
        </div>
        <div>
            一级分类：
            <select id="ctg1ForAttrList"  class="easyui-combobox" style="width:100px" ></select>
            二级分类：
            <select id="ctg2ForAttrList"  class="easyui-combobox"  style="width:100px" ></select>
            三级分类：
            <select id="ctg3ForAttrList"  class="easyui-combobox"   style="width:100px" ></select>
            <a id="refresh">刷新属性列表</a>
        </div>
        <div th:include="attrInfoPage"></div>
    </div>

    <script type="text/javascript">
        $(function(){
            $("#ctg1ForAttrList").combobox({
                valueField : "id",
                textField : "name",
                url : "getCatalog1",
                onSelect : function(rec){//rec
                    $("#ctg2ForAttrList").combobox("clear");
                    $("#ctg3ForAttrList").combobox("clear");
                    $("#ctg2ForAttrList").combobox("reload","getCatalog2?catalog1Id=" + rec.id);
                }
            });
            $("#ctg2ForAttrList").combobox({
                valueField : "id",
                textField : "name",
                onSelect : function(rec){
                    $("#ctg3ForAttrList").combobox("clear");
                    $("#ctg3ForAttrList").combobox("reload","getCatalog3?catalog2Id=" + rec.id);
                }
            });
            $("#ctg3ForAttrList").combobox({
                valueField : "id",
                textField : "name"
            });
            $("#refresh").linkbutton({
                iconCls : "icon-reload",
                onClick : function(){
                    reloadAttrList();
                }
            });
            function reloadAttrList() {
                var catalog3Id = $("#ctg3ForAttrList").combobox("getValue");
                if (catalog3Id) {
                    $("#dg").datagrid({
                        url : "getAttrList?catalog3Id=" + catalog3Id
                    });
                } else {
                    $.messager.alert("系统消息","三级分类信息不能为空","info");
                }
            }
        });
        function editAttr() {
            var row = $("#dg").datagrid("getSelected");
            if (row) {
                setMethod("editAttr");
                //表单回显
                init();
                //打开窗口
                $("#dlg").dialog("open");
            } else {
                $.messager.alert("系统消息","请选择要编辑的属性","info");
            }
        }
        function addAttr() {
            var catalog3Id = $("#ctg3ForAttrList").combobox("getValue");
            if (catalog3Id) {
                setMethod("saveAttr");
                $("#dlg").dialog("open");
            } else {
                $.messager.alert("系统消息","三级分类信息不能为空","info");
            }
        }
        function deleteAttr() {
            var row = $("#dg").datagrid("getSelected");
            if (row) {
                //var index = $("#dg").datagrid("getRowIndex", row);
                //alert(row.id);
                //$("#dg").datagrid("deleteRow",index);
                //异步发起请求时，要注意请求参数的类型和格式，
                var attrId = row.id;
                var json = { "attrId" : attrId };
                $.get("deleteAttr",json,function(result){
                    if (result) {
                        //刷新列表
                        var catalog3Id = $("#ctg3ForAttrList").combobox("getValue");
                        $("#dg").datagrid("reload","getAttrList?catalog3Id=" + catalog3Id);
                    }
                });
            } else {
                $.messager.alert("系统消息","三级分类信息不能为空","info");
            }
        }
        //获取用户选择
        var method = "";
        function setMethod(addOrEdit) {
            method = addOrEdit;
        }
        function getMethod(){
            return method;
        }
    </script>

</body>
</html>