<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-----------------弹出框----------------------------->
    <div id="spuSaleAttr_dlg" class="easyui-dialog" title="编辑销售属性" style="width:500px;height:400px;"
            data-options="closed:true,iconCls:'icon-save',resizable:true,modal:true,buttons:'#spuSaleAttrBtns'" >
        <br/><br/>
        <!------------------从基本销售属性中选择------------->
        销售属性：
        <select name="saleAttr" id="saleAttrSelect" class="easyui-combobox"
            data-options="valueField:'id',textField:'name',url:'baseSaleAttrList'" style="width:100px">
        </select>
        <br/><br/>

        <!----------------销售属性值列表---------------------------->
        <table id="spuSaleAttrValueDg" class="easyui-datagrid" title="销售属性值列表"
            data-options="singleSelect:true,method:'get',toolbar:'#spuSaleAttrValueTootbar'" >
        </table>

        <!----------------销售属性值列表工具栏----------------------->
        <div id="spuSaleAttrValueTootbar" style="padding:5px;height:auto"  >
            <div style="margin-bottom:5px">
                <a href="#" id="spuSaleAttrValueAddBtn" class="easyui-linkbutton" iconCls="icon-add" onclick="addSpuSaleAttrValue()" plain="true">添加</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeSpuSaleAttrValue()" >删除</a>
            </div>
        </div>

        <div id="spuSaleAttrBtns">
            <a href="#" class="easyui-linkbutton" onclick="saveSpuSaleAttr()">确定</a>
            <a href="#" class="easyui-linkbutton" onclick="closeSpuSaleAttr()">关闭</a>
        </div>
    </div>

    <script type="text/javascript">
        function initSpuSaleAttrDlg() {
            // 初始化销售属性的combobox
            initSpuSaleAttrValueListDatagrid();
        }
        function initSpuSaleAttrValueListDatagrid() {
            $("#spuSaleAttrValueDg").datagrid({
                columns:[[
                    {field:'id',title:'销售属性值id',width:100},
                    {field:'saleAttrValueName',title:'销售属性值名称',width:100,
                        editor:{ type: 'validatebox', options: { required: true} }
                    }
                ]],
                onDblClickRow: function (rowIndex, rowData) {
                    //双击开启编辑行
                    $("#spuSaleAttrValueDg").datagrid("beginEdit", rowIndex);
                    //设定当失去焦点时,退出编辑状态
                    var valueName = rowData.valueName;
                    $("input.datagrid-editable-input").val(valueName).bind("blur",function(evt){
                        $("#spuSaleAttrValueDg").datagrid('endEdit',rowIndex);
                    });
                }
            });
        }
        //添加行
        function addSpuSaleAttrValue() {
            $("#spuSaleAttrValueDg").datagrid("appendRow",{
                id:"",
                saleAttrValueName:""
            });
        }
        //删除行
        function removeSpuSaleAttrValue() {
            //获取行对象
            var row = $("#spuSaleAttrValueDg").datagrid("getSelected");
            //获取行索引
            var index = $("#spuSaleAttrValueDg").datagrid("getRowIndex",row);
            $("#spuSaleAttrValueDg").datagrid("deleteRow",index);
        }
        //关闭窗口
        function closeSpuSaleAttr() {
            $.messager.confirm("系统消息","窗口关闭，输入的数据将被清空，是否确定关闭窗口？",function(r){
                if ( r ) { $("#spuSaleAttr_dlg").dialog("close"); }
            });
        }
        //保存数据至页面暂存
        function saveSpuSaleAttr() {
            //获取数据
            var data = $("#spuSaleAttrValueDg").datagrid("getData");
            //console.log(JSON.stringify(data));
            var saleAttrId = $("#saleAttrSelect").combobox("getValue");
            var saleAttrValue = $("#saleAttrSelect").combobox("getText");
            //将数据保存值暂存
            $("#spuSaleAttrDg").datagrid("appendRow",{
                saleAttrId:saleAttrId, saleAttrName:saleAttrValue, spuSaleAttrValueJson:data
            })
            //关闭窗口
            $("#spuSaleAttr_dlg").dialog("close");
        }
    </script>
</body>
</html>